/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/****** Accommodation ***********/
.accommodations {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}
/* adding styles  */

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0%;
    padding-bottom: 2%;
}

.logo-container {
    width: 100px;
    padding-top: 22px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.navbar-links{
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.acommedation{
    text-decoration: none;
    color: black;
   
}

.thigs-to-do{
    text-decoration: none;
    color: black;
}


.navbar-links a{
    text-decoration: none;
    color: #000;
    border-top: 3px solid white;
    padding-top: 15px;
}
.navbar-links a:hover, 
.navbar-links a.active {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}


/* search bar and filter seection */

.booki-tittle  p {
    margin-bottom: 3%;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 400px; /* Adjust the max width as needed */
    min-width: 300px; 
    margin-bottom: 2%;

}

.icon {
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.icon svg{
    height: 20px;
    width: auto;
   
}

input[type="text"] {
    border: none;
    outline: none;
    padding: 16px;
    font-size: 19px;
    flex-grow: 1;
}

.search-button {
    background-color:  #0065FC;
    border: none;
    color: #F2F2F2;
    padding: 14px 18px;
    border-radius: 18px;
    font-size: 20px;
    flex-shrink: 0; /
}

.search-button svg {
    height: 20px;
    width: auto;
    fill: #F2F2F2;
    display: none;
}

.button-text{
    padding: 0%;
    margin: 0%;
}


.location-icon {
    background-color: #f0f0f0;
    padding: 0.5em;
    border-radius: 8px 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filter-container {
    display: flex; 
    gap: 50px;
}

.filter-container-buttons {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, auto);
}


/* .filter-container-buttons div:nth-child(1) {
    background-color: #00BFB8;
  }

.filter-container-buttons div:nth-child(2) {
    background-color: #8E007E;
  }
 
.filter-container-buttons div:nth-child(3) {
    background-color: #23D0EA;
  }

.filter-container-buttons div:nth-child(4) {
    background-color: #EF8956;
}  */



.filter-icon {
    height: 20PX;
    margin-right: 10PX;
    fill: #0065FC;
}

.filter-button {
    display: flex;
    background-color: WHITE;
    justify-content: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 16PX;
    margin-left: 0%;
    font-size: 16px;
    font-weight: bold;
}

.filter-button:hover { 
    background-color: #a5c6f8;
}


.info-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
 
.info-container span {
    background: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    
}

.info-icon {
    height: 12px;
    fill: #0065FC;
}

/* .accommodation cards section  */
.accommodation-and-popular{
    display: flex;
}

#acommedations{
    width: 65%;
}

.accommodation-collections {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.accommodation-card {
    background-color: rgb(247, 243, 243);
     width: calc(100% / 3 - (10px * 2 / 3));
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accommodation-card div { 
    padding: 4px;
}


.accommodation-card img {
    width: 100%;
    object-fit: cover;
    height: 120px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
    margin-bottom: 0px;
}

.text-container {
    margin-left: 10px;
    padding: 1px;
}

.text-container h3 {
    margin-top: 0%;
    margin-bottom: 9px;
}

.text-container p {
    margin-top: 0%;
    margin-bottom: 0%;
}

.show-more-drop-down{
    margin-top: 30px;
    margin-bottom: 0px;
}

.show-more-drop-down a {
    text-decoration: none;
    color: #000;
}

.show-more-drop-down p {
    font-weight: 800;
    font-size: large;
    margin-left: 10px;
}

/* section to do  */

.section-activities-container{
    margin-bottom: 6%;
}

.section-activities-container h2{
    margin-bottom: 50px;
}

.section-activities{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.activity-card {
    background-color: #fff;
    border-radius: 15px;
    flex-basis: calc(100% / 3 - (2rem * 2 / 3));
    padding: 0%;
    text-decoration: none;
    color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card-content {
    padding: 17px;
}

.card-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* footer */

.footer-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #D9D9D9;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-list {
    margin-top: 0px;
}

.footer-list li {
    margin: 15px;
    margin-left: 0px;
    list-style-type: none;
    color: #000;
}

.footer-links a {
    text-decoration: none;
    color: #000;
}


.footer-tittle{
    margin-left: 35px;
    margin-bottom: 0px;
}

@media (width >= 1450px){
    
    .main-container {
        width: 100%;
        padding: 0% 10%;
        box-sizing: border-box;
    }
}

@media (width <= 1000px)  {
    .filter-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-container ul {
        width: 75%;
        margin-left: 0%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .filter-container li {
        margin-left: 0%;
    }

    .accommodation-and-popular {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #acommedations{
        width: 100%;
    }

    .accommodation-collections {
         margin-top: 30px;
         display: inline-flex;
         justify-content: center;
         flex-wrap: wrap;
    
    }
    .accommodation-card {
        background-color: rgb(247, 243, 243);
        width: 29%;
        border-radius: 20px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    
    .accommodation-card div { 
        padding: 4px;
    }
    
    
    .accommodation-card img {
        width: 100%;
        object-fit: cover;
        height: 120px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: block;
        margin-bottom: 0px;
    }

    .popular{
        width: 100%;
    }

    .card{
        width: 30%;
        padding: 3px;
    }

    .popular-cards {
        display: flex;
        justify-content: space-around;
    }
    
    .popular-cards .card {
        display: flex;
        margin-top: 33px;
    }
    
    .popular-cards img {
        width: 33%;
        height: 155px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    .popular-cards .card-content {
        width: 60%;
        /* padding-left: 15px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .popular-cards .card-title {
        margin-bottom: 4px;
        margin-top: 0px;
    }
    
    .popular-cards .card-subtitle {
        margin: 0;
    }
    
    .popular-cards .card-rating {
        margin-bottom: 5px;
    }

    .activity-card {
        background-color: #fff;
        border-radius: 15px;
        width: 200px;
        padding: 0%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .card-image img {
        width: 100%;
        height: 300px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    
    .card-content {
        padding: 17px;
    }
    
    .card-title {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

  }

  /* phone screen  */

  @media (width <= 768px){
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-links{
        margin-left: 0%;
      margin-right: 20%;
    }


    .logo-container{
        padding: 8%;
    }


    .booki-tittle  p {
        margin-bottom: 3%;
    }

    .booki-tittle{
       padding: 15px;
       align-items: center;
    }
    .search-container {
        overflow: hidden;
        width: 96%;
        max-width: 500px; /* Adjust the max width as needed */
        min-width: 300px; 
        margin-bottom: 2%;
        margin-left: 3%
    
    }
    
    .button-text{
    padding: 0%;
    margin: 0%;
    display: none;
    }
    
    .search-button svg {
    height: 20px;
    width: auto;
    fill: #F2F2F2;
    display: block;
    }

    .filter-container h3{
        margin-left: 9%;
    }
    .filter-container ul {
        width: 85%;
        display: flex;
        margin-left: 0%;
        justify-content: space-between;
    
    }
    
    .filter-container li {
        list-style-type: none;
        margin-left: 0%;
    }
    
    
    .filter-icon {
        height: 20PX;
        margin-right: 10PX;
        fill: #0065FC;
    }
    
    .filter-button {
        display: flex;
        background-color: WHITE;
        justify-content: row;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 16PX;
        margin-left: 0%;
        margin-bottom: 6%;
        font-size: 16px;
        font-weight: bold;
    }

    .accommodation-collections {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
   
   }

   .accommodation-card {
    background-color: rgb(247, 243, 243);
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .popular-cards{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .card{
        width: 90%;
    }

    .accommodation-and-popular {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr / 1fr ;
        grid-template-areas: 
        "b"
        "a"
    }

    .acommedations{
        grid-area: a;
    } 

    .popular{
        grid-area: b;
    }

    .section-activities{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .activity-card {
        width: 380px;
        padding: 0%;
        margin-bottom: 6%;
    }
    
    .card-image img {
        height: 210px;
    }


    .footer-container{
        grid-template-columns: 1fr;
    }

    .main-container {
        width: 100%;
        padding: 0% 0%;
        box-sizing: border-box;
    }

    
    
  }
